SERVER_PORT=5000
DB_NAME=acb-user
DB_USERNAME=postgres
DB_PASSWORD=RauCau@WeJelly123
DB_URL=0.0.0.0
DB_PORT=5432
DB_SSL=false
ADMIN_PASSWORD=12345678
APP_GOOGLE_ID=957158366943-mbf3uov90q40svt1vhdns2v88o7qh1tj.apps.googleusercontent.com
APP_GOOGLE_ID_IOS=957158366943-3oh4h27lgp1ntatmstsihdg1otj87juo.apps.googleusercontent.com
APP_GOOGLE_ID_ANDROID=957158366943-3jsu2ph1bcr11r18effbjcjmhb49j3qm.apps.googleusercontent.com
DB_REDIS=NO
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
RABBITMQ=NO
CLUSTER=NO
JWT_SECRET=ACBHRECOSYSTEM
JWT_REFRESH_TOKEN_SECRET=HRECOSYSTEM
JWT_TOKEN_LIFE=581400
JWT_REFRESH_TOKEN_LIFE=86400
SECRET_KEY =ACBHRECOSYSTEM
SYSTEM_TOKEN =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2MjQzNDYzOTJ9.l8x5zKAi6U6wtfTRK2C_tLjLXbiF3t_TzWsDXRrJ-LY
EXPORTS=exports
# config Login microsoft
MICROSOFT_GRAPH_CLIENT_ID=1a1676b8-6fbd-4f9c-adc6-6e7b34a99644
MICROSOFT_GRAPH_CLIENT_SECRET=puF7Q~VCDSmO8Oo2lMciYZi537LmJirwgOSui
MICROSOFT_GRAPH_TENANTID=5ebe5d1f-6ce7-4b79-a8a7-66e17e0f791e
MICROSOFT_CALLBACK_URL=https://acbuser.wejelly.dev/api/users/login-azure-success
TALENT_CLIENT_URL=https://acbtalent.wejelly.dev/
LMS_CLIENT_URL=https://acblms.wejelly.dev/
EVENT_CLIENT_URL=https://event.wejelly.dev/
DOMAIN_ALL=.wejelly.dev